html, body {
    padding: 0px;
	margin: 0px;
	height: 100%;
    background-color: #fff;
}

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.row {
    margin: 0 !important;
}